{% extends 'ink/base.html' %} {% block title %}My Dashboard {% endblock %}
{%block content %}
<div class="row">
  <div class="border p-3 shadow">
    <h3 class="text-center">{{city}}</h3>
  </div>
  <br />
  <hr />
  <div class="col-md-12">
    <div>
      <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const ctx = document.getElementById("myChart");

      new Chart(ctx, {
        type: "line",
        data: {
          labels: [{% for data in cdata %} '{{ data }}', {% endfor %}],
          datasets: [
            {
              label: "# per mg/l",
              data: [{% for data in value %} '{{ data }}', {% endfor %}],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
  </div>
</div>
<br style="margin-top: 5%" />
<div class="row">
  <!--code for table-->
  <div class="col-md-6">
    <div class="border p-3 shadow">
      <h3>Table showing key values</h3>
      <!-- Trigger/Open The Modal -->
      <button class="btn btn-danger float-end" id="myBtn">Show Table</button>
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" style="margin-left: 90%; color: red"
            >&times;</span
          >

          <div class="border p-3 shadow">
            <div class="row justify-content-center">
              <h3 class="text-center">
                Tables showing the result of samples tested in variouss time
                period
              </h3>
              <div class="d-flex">
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item" style="background-color: green">
                    Drinkable
                  </li>
                  <li class="list-group-item" style="background-color: red">
                    Undrinkable
                  </li>
                </ul>
              </div>

              <div class="col-auto">
                <table
                  id="mytable"
                  class="table table-striped"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>City Name</th>

                      <th>Value</th>
                      <th>masseinheit</th>
                      <th>Result</th>
                      <th>beobachtung_wasserstand</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if tab_data %} {% for i in tab_data %}
                    <tr>
                      <td>{{i.datum_pn}}</td>

                      <td>{{i.name}}</td>

                      <td>{{i.messergebnis_c}}</td>
                      <td>mg/l</td>
                      <td id="result"></td>
                      <td>{{i.beobachtung_wasserstand}}</td>
                    </tr>
                    {% endfor %} {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="border p-3 shadow">
      <h3>Geomap</h3>
      <a class="align-item-center" target="_blank" href="map">
        <button class="btn btn-danger float-end">Show Map</button>
      </a>
    </div>
  </div>
</div>

{{ df }}

<br />
{% include 'ink/footer.html' %} {% endblock %}
